{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>内容修改</span></li>
</ol>

<h3>内容修改 - {{content.title}}</h3>

<form role="form" method="post">
    <div class="form-group">
        <label for="title">分类：</label>
        <select name="category" id="category" class="form-control">
            {%for category in categories%}
            {%if content.category._id.toString() == category._id.toString()%}
            <option value="{{category.id}}" selected>{{category.name}}</option>
            {%else%}
            <option value="{{category.id}}">{{category.name}}</option>
            {%endif%}
            {%endfor%}
        </select>
    </div>

    <div class="form-group">
        <label for="title">标题：</label>
        <input type="text" value="{{content.title}}" class="form-control" id="title" placeholder="请输入内容标题" name="title">
    </div>

    <div class="form-group">
        <label for="title">简介：</label>
        <input  id="edit_description" class="summernote" value="{{content.description}}">
    </div>

    <div class="form-group">
        <label for="title">内容：</label>
        <input  id="edit_content" class="summernote" value="{{content.content}}">
    </div>

    <div class="btn btn-default" id="edit_submit">提交</div>
</form>
<script src="/public/js/changeText.js"></script>
{% endblock %}